/* header */
.header{
    border-top: 6px solid #2c3e50
}
/* header logo */
.header-logo{
    max-width: 180px;
    padding: 22px 0;
    float: left;
}
/* header menu */
.header-nav{
    padding: 25px 0;
    float: left;
}
.header-nav ul li{
    display: inline-block;
    padding: 0 3px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.header-nav ul li a{
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
}
/* nav-toggle */
#nav-toggle{
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius:8px;
    position: fixed;
    background: #2c3e50;
    padding: 15px;
    top:0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition:all .4s ease;
}
#nav-toggle span{
    border-radius: 1px;
    height: 2px;
    width: 30px;
    display: block;
    background: #fff;
    -webkit-border-radius: 1px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0,0,0);
}
#nav-toggle span:nth-child(2){
    margin: 6px 0;
}
#nav-toggle span:nth-child(1){
    transform: rotate(45deg) translate3d(6px,6px,0);
    -webkit-transform: rotate(45deg) translate3d(6px,6px,0);
}
#nav-toggle.active span:nth-child(2){
    opacity: 0;
}
#nav-toggle.active span:nth-child(3){
    transform: rotate(-45deg) translate3d(6px,-5px,0);
    -webkit-transform: rotate(-45deg) translate3d(6px,-5px,0);
}
/* search */
.header-search{
    position: relative;
    float: right;
    margin: 18px 0;
}
.header-search input::-webkit-input-placeholder{
    /*chrome/opera/safari*/
    color: #fff;
}
.header-search input:-moz-placeholder{
    /*mozilla firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}
.header-search input::-moz-placeholder{
    /*firefox 19*/
    color: #fff;
    opacity: 1;
}
.header-search input:-ms-input-placeholder{
    /*IE*/
    color: #fff;
}
.header-search input::-ms-input-placeholder{
    /*edge*/
    color: #fff;
}
.header-search input::placeholder{
    /*browser moderno*/
    color: #fff;
}
.header-search input{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #01c0b5;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius:8px;
}
.header-search button{
    position: absolute;
    top: 50%;
    right: 8px;
    font-size: 1.5rem;
    color: #fff;
    background: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/* redes sociais */
.header-redes{
    text-align: center;
    margin: 20px 0;
    display: none;
}
.header-redes a{
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
}
/* breakpoints */
/* max-width */
@media screen and (max-width:959.9px){
    #nav-toggle, .header-redes{
        display: block;
    }
    /* header */
    .header{
        height: 58px;
    }
    /* header logo */
    .header-logo{
        width: 60%;
        padding: 12px 0;
    }
    /* menu */
    .header-collapse.active{
        position: fixed;
        background: rgba(45,63,81.95);
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 15px;
        top: -100%;
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease;
    }
    .header-nav ul li{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .header-nav ul li a{
        color: #fff;
        transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;
    }
    /* search */
    .herader-search{
        max-width: 300px;
        margin: 0 auto;
    }
    .header-search input{
        padding: 15px;
    }
}
@media screen and (max-width:960px){
    .header-collapse.active{
        top: -30%;
    }
}
/* min-width */
@media screen and (min-width:960px) {
    .header-nav{
        margin-left: 2%;
    }
    .header-nav ul li a.active:before{
        background: #747933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: 0;
        left: 0;
    }
}
